DJANGO_SECRET_KEY=
DJANGO_DEBUG=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE_NAME=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
DEFAULT_FROM_EMAIL=
EMAIL_HOST_PASSWORD=
REDIS_HOST=
REDIS_PORT=
